header {
  padding: 20px 20px 0 20px;
  font-size: 12px;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  position: relative;
  max-width: 80rem;
  max-height: 9rem;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4%;
  }
}
.logo_varsh {
  width: 200px;
  height: 200px;
}

.navigation {
  .nav-container {
    padding: 1.5rem;
    font-weight: 700;
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
  .nav-container {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .style-nav-mob {
    position: absolute;
    top: 2.8rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0rem 10% 5% 10%;
    z-index: 99;
  }
  .navigation {
    .nav-container {
      display: none;
      top: 0;
      left: 0;
    }
    .nav-mobile {
      display: block;
      .nav-img-close {
        padding-left: 3.2%;
        padding-top: 2.8%;
      }
      .nav-img {
        padding-left: 2.8%;
        padding-top: 2.2%;
      }
    }
    .nav {
      display: none;
    }
    .nav-links-mob {
      @extend .style-nav-mob;
      background-color: rgba($color: #000, $alpha: 0.9);
      .nav-block {
        color: #777;
        text-decoration: none;
        margin: 1rem 0rem;
      }
      .nav-active {
        color: #fff;
      }
    }
    .nav-links-mob-dark {
      @extend .style-nav-mob;
      background-color: rgba($color: #000, $alpha: 0.9);
    }
  }
}

/* var nav*/
.nav-img-close img {
  background: white;
  border: 1px solid;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .navigation {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .nav-container {
    width: 100%;
    align-items: center;
    gap: 4%;
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 768px) {
  .logo_varsh {
    width: 150px;
    height: 150px;
  }

  .nav-links {
    position: absolute;
    top: 70%;
    bottom: -30%;
    background: rgba(0, 0, 0, 0.7);
    margin-right: 20px;
    padding: 10px;
    right: -5.5%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    z-index: 1;
    width: 15%;
    gap: 7%;
  }

  .nav-link {
    color: #fff;
    padding: 3px 0;
    text-decoration: none !important;
  }
}
